* {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-style: oblique;
    font-variant: small-caps;
    background-color: cadetblue;
    margin: auto;
    width: auto;
}

.csv-input {
    padding: 10px;
    display: block;
    margin: 15px auto;
    border: 5px solid #ccc;
    border-radius: 20px;
}

.container p {
    padding-top: 10px;
    color: pink;
}

.grayButton{
    margin: 30px;
    background-color: #A9A9A9;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}
.darkGrayButton{
    margin: 30px;
    background-color: 	#808080;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}


.plot{
    margin: 0px;

}